
{% extends "junapp/home.html" %}

{% block content %}
    <link
        rel="stylesheet"
        href="http://cdn.leafletjs.com/leaflet-0.7/leaflet.css"
    />
    <div id="page-content-wrapper">
        <div class="section-wrapper">


         <div id="map" style="width: 100%; height: 600px"></div>
        </div>
    </div>
    <script
        src="http://cdn.leafletjs.com/leaflet-0.7/leaflet.js">
    </script>

    <script>
    {% autoescape off %}
        var data={{ context.passed}}
        var data2 = {{ context.failed }}
    {% endautoescape %}
{#	var planes = [#}
{#		["7C6B07",-40.99497,174.50808],#}
{#		["7C6B38",-41.30269,173.63696],#}
{#		["7C6CA1",-41.49413,173.5421],#}
{#		["7C6CA2",-40.98585,174.50659],#}
{#		["C81D9D",-40.93163,173.81726],#}
{#		["C82009",-41.5183,174.78081],#}
{#		["C82081",-41.42079,173.5783],#}
{#		["C820AB",-42.08414,173.96632],#}
{#		["C820B6",-41.51285,173.53274]#}
{#		];#}

var greenIcon = new L.Icon({
  iconUrl: 'https://raw.githubusercontent.com/pointhi/leaflet-color-markers/master/img/marker-icon-2x-red.png',
  shadowUrl: 'https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/images/marker-shadow.png',
  iconSize: [25, 41],
  iconAnchor: [12, 41],
  popupAnchor: [1, -34],
  shadowSize: [41, 41]
});

    var map = L.map('map').setView([28.3949, 84.1240], 8);

        mapLink =
            '<a href="http://openstreetmap.org">OpenStreetMap</a>';
        L.tileLayer(
            'http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; ' + mapLink + ' Contributors',
            maxZoom: 10
            }).addTo(map);

		for (var i = 0; i < data.length; i++) {
			marker = new L.marker([data[i][1],data[i][2]])
				.bindPopup(data[i][0])
				.addTo(map);
		}

		for (var j = 0; j < data2.length; j++) {
			marker = new L.marker([data2[j][1],data2[j][2]],{icon: greenIcon})
				.bindPopup(data2[j][0])
				.addTo(map);
		}

    </script>
 {%  endblock %}