{% extends "junapp/home.html" %}
{% block content %}



<div id="page-content-wrapper">
    <div class="section-wrapper row disp-inline">
        <div class="insights-green col-md-1">
            <h3 class="no-pad">Hospitals</h3>
            <p>15</p>
        </div>
        <div class="insights-blue col-md-1">
            <h3 class="no-pad">Rain Water</h3>
            <p>1500k ltr</p>
        </div>
        <div class="insights-red col-md-1">
            <h3 class="no-pad">Telecom</h3>
            <p>1200</p>
        </div>
        <div class="insights-green col-md-1">
            <h3 class="no-pad">Transportation</h3>
            <p>10</p>
        </div>

    </div>
    <div class="half-section-wrapper">
        <h4>Hospitals</h4>
        <img src="images/chart1.jpg" class="graph">
    </div>
    <div class="half-section-wrapper">
        <h4>Rain Water Harvest</h4>

        <img src="images/chart2.png" class="graph">
    </div>
    <div class="half-section-wrapper">
        <h4>Telecom</h4>

        <img src="images/chart3.png" class="graph">
    </div>
    <div class="half-section-wrapper">
        <img src="images/chart2.png" class="graph">
    </div>
    <div class="half-section-wrapper">
        <img src="images/chart3.png" class="graph">
    </div>
</div>
    {%  endblock %}


