
{% extends "junapp/home.html" %}

{% block content %}
{% load staticfiles %}
{#<link rel="stylesheet" href="{% static 'junapp/style/css/uploader.css' %}">#}
{#<script type="45b7b408cf738d94badbc42f-text/javascript">(function(e,t,n){var r=e.querySelectorAll("html")[0];r.className=r.className.replace(/(^|\s)no-js(\s|$)/,"$1js$2")})(document,window,0);</script>#}
<div id="page-content-wrapper">
<div class="section-wrapper">
    <form method="POST" action="{% url 'logistic'%}" enctype="multipart/form-data" >{% csrf_token %}
    <label for = "id_testinput" class = "control-label col-sm-2 ">Test data*</label>
        <input class="file-upload" type="file" id="id_testinput" name="testinput" placeholder="testinput">
    <input type="submit" class="btn analyze-btn submit-btn" value="Analyze">
</form>
</div>
</div>

{%  endblock %}

