{% extends "junapp/home.html" %}
{% block content %}

   {% load staticfiles %}

    <script src="http://d3js.org/d3.v4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    {% load staticfiles %}
    <script src="http://dimplejs.org/dist/dimple.v2.3.0.min.js"></script><div id="page-content-wrapper">
<div class="section-wrapper" >
    <h3 class="text-center">Hospital/Health Post Evaluation </h3>
    <div style="height: 400px">
    <canvas id="chart-area"></canvas>
    </div>

</div>
    <div class="section-wrapper">
    <h4 class="text-center">Detailed Report</h4>
         <table class="table">
        <thead>
        <th>Address</th>
        <th>Type</th>
        <th>Beds</th>
        <th>Immunization Service</th>
        <th>No. of rooms</th>
        <th>OPT Service</th>
        <th>Oral Health Service</th>
        <th>Repairing</th>
        </thead>

            {% for each in result.finaldata %}
                <tr>
                {% if each.pass == 0 %}
                    <td class="fail">{{ each.address }}</td>
                {% else %}
                    <td class="pass">{{ each.address }}</td>
                {% endif %}
                    <td>{{ each.type }}</td>
                {% if each.beds <= 10 %}
                    <td class="fail">{{ each.beds }}</td>
                {% elif each.beds <= 40 %}
                    <td class="yellow">{{ each.beds }}</td>
                {% else %}
                    <td>{{ each.beds }}</td>
                {% endif %}
                {% if each.immunizationservice == 0 %}
                <td class="fail">No</td>
                {% else %}
                <td>Yes</td>
                {% endif %}
                {% if each.rooms <= 10 %}
                    <td class="fail">{{ each.rooms }}</td>
                {% elif each.rooms <= 40 %}
                    <td class="yellow">{{ each.rooms }}</td>
                {% else %}
                    <td>{{ each.rooms }}</td>
                {% endif %}
                    {% if each.optservice == 0 %}
                <td class="fail">No</td>
                {% else %}
                <td>Yes</td>
                {% endif %}
                {% if each.oralhealth == 0 %}
                <td class="fail">No</td>
                {% else %}
                <td>Yes</td>
                {% endif %}
                {% if each.repair == 0 %}
                <td>No</td>
                {% else %}
                <td class="fail">Yes</td>
                {% endif %}
                </tr>
            {% endfor %}
        </table>
    </div>
    <div class="half-section-wrapper">
        <h4>No of Beds and Rooms</h4>
        <div class="graph" id="div-chart-price">

        </div>
    </div>
    <div class="half-section-wrapper">
        <h4>Building and Repairment</h4>
    <div class="graph" id="div-chart">

        </div>
{#        <img src="{% static 'junapp/images/chart2.png'%}" class="graph">#}
    </div>

    <div class="half-section-wrapper">
        <img src="{% static 'junapp/images/chart2.png'%}" class="graph">
    </div>
</div>


<script type="text/javascript">


		window.onload = function() {
			var ctx = document.getElementById('chart-area').getContext('2d');
			var myPieChart = new Chart(ctx, {
                type: 'pie',
                data: {
                    datasets: [{
                        data: [{{ result.pass }}, {{ result.fail }}],
                        backgroundColor: ["#028910","#C40233"]

                    }],
                    labels: [
                        'Pass',
                        'Fail'
                    ]
                },
               options: {
                    responsive: true,
                    maintainAspectRatio: false
                }
            });
		};

{#    console.log({{ result }})#}
    {% autoescape off %}
        var data={{ result.finaldata }}
    {% endautoescape %}

    function filterdata() {
        var filtered_data = [];
        for (var i = 0; i < data.length; i++) {
            var dict = {
                "Address":data[i]['address'],
                "Building": data[i]['building'],
                "Repair":data[i]['repair'],
                "Beds":data[i]['beds'],
                "Rooms":data[i]['room']
            };
            filtered_data.push(dict)
        }
        return filtered_data;
    }

    var svg1 = dimple.newSvg("#div-chart-price", 500, 500);
    var chart1 = new dimple.chart(svg1, filterdata());
    var x1 = chart1.addCategoryAxis("x", "Address");
    // First y axis is the combination axis for revenue and profit
    var y3 = chart1.addMeasureAxis("y", "Building");
    var y4=chart1.addMeasureAxis("y", "Repair");
    y3.overrideMax=2;
    y4.overrideMax=2;

    var lines1 = chart1.addSeries("Has Building ", dimple.plot.line, [x1,y3]);
    var lines2 = chart1.addSeries("Needs Repair", dimple.plot.line, [x1,y4]);

        chart1.borderColor="red";
    lines1.lineMarkers = true;
    chart1.addLegend(60, 5, 680, 20, "right", lines1);
    chart1.addLegend(75, 20, 680, 20, "right", lines2);
    chart1.draw();

     var svg = dimple.newSvg("#div-chart",500,500);
    var chart = new dimple.chart(svg, filterdata());
    var x = chart.addCategoryAxis("x", "Address");
    // First y axis is the combination axis for revenue and profit
    var y1 = chart.addMeasureAxis("y", "Beds");
    var y2=chart.addMeasureAxis("y", "Rooms");
{#    y3.overrideMax=2;#}
{#    y4.overrideMax=2;#}

    var lines3 = chart.addSeries("No. of Beds", dimple.plot.line, [x,y1]);
    var lines4 = chart.addSeries("No. of Rooms", dimple.plot.line, [x,y2]);

        chart.borderColor="red";
{#    lines.lineMarkers = true;#}
{#        x.addOrderRule(['January','February','March','April','May','June','July','August','September','October','November','December']);#}
    chart.addLegend(60, 5, 680, 20, "right", lines3);
    chart.addLegend(75, 20, 680, 20, "right", lines4);
    chart.draw();

</script>
    {%  endblock %}
