{#include header#}
<style>
    th{
        color: #235eae;
    }
    .pdf-btn{
        float: right;
        margin: 10px;
    }
</style>
<div id="page-content-wrapper">
    <div class="section-wrapper">
        <button class="btn pdf-btn btn-primary right">Download PDF</button>
        <table class="table">
            <tr>
                <th>S.no</th>
                <th>Hospital</th>
                <th>Address</th>
                <th>Metric 1</th>
                <th>Metric 2</th>
            </tr>
            <tr>
                <td>1</td>
                <td>Norvic International</td>
                <td>thapathali</td>
                <td>100</td>
                <td>20000</td>
            </tr>
            <tr>
                <td>1</td>
                <td>Norvic International</td>
                <td>thapathali</td>
                <td>100</td>
                <td>20000</td>
            </tr>
            <tr>
                <td>1</td>
                <td>Norvic International</td>
                <td>thapathali</td>
                <td>100</td>
                <td>20000</td>
            </tr>
        </table>
    </div>
</div>

{#include footer#}